In [11]:
import lasio
import pandas as pd
import matplotlib.pyplot as plt

In [12]:
archivo_las = lasio.read('LGAE-040.las')

In [13]:
df = archivo_las.df()

In [17]:
df

,BS,CAL,CALI,CALX,DT,GR,M1R1,M1R3,M1R9,M2R1,M2R3,M2R9,NPHI,RHOB,RM,RS,RT,SP,Porosity
DEPTH,,,,,,,,,,,,,,,,,,,
9000.0,12.25,NaN,NaN,NaN,-9589.8467,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-9.99,NaN,NaN,NaN,NaN,NaN,NaN
9000.5,12.25,NaN,NaN,NaN,-9589.8467,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-9.99,NaN,NaN,NaN,NaN,NaN,NaN
9001.0,12.25,NaN,NaN,NaN,-9589.8467,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-9.99,NaN,NaN,NaN,NaN,NaN,NaN
9001.5,12.25,NaN,NaN,NaN,-9589.8467,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-9.99,NaN,NaN,NaN,NaN,NaN,NaN
9002.0,12.25,NaN,NaN,NaN,-9589.8467,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-9.99,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10368.0,8.50,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-9.99,NaN,1096.5959,64.978,722.706,-36.551,NaN
10368.5,8.50,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-9.99,NaN,NaN,NaN,NaN,-44.262,NaN
10369.0,8.50,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-9.99,NaN,NaN,NaN,NaN,-44.262,NaN
10369.5,8.50,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-9.99,NaN,NaN,NaN,NaN,-44.262,NaN
10370.0,8.50,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
df.to_excel('las_excel.xlsx',index = True)

In [15]:
df['Porosity'] = df.RHOB * 0.2

In [22]:
seleccionar_columnas = ['RHOB','Porosity']
df_filtrado = df[seleccionar_columnas ]
df_filtrado

         RHOB  Porosity
DEPTH
9000.0    NaN       NaN
9000.5    NaN       NaN
9001.0    NaN       NaN
9001.5    NaN       NaN
9002.0    NaN       NaN
...       ...       ...
10368.0   NaN       NaN
10368.5   NaN       NaN
10369.0   NaN       NaN
10369.5   NaN       NaN
10370.0   NaN       NaN

[2741 rows x 2 columns]

In [23]:
df_filtrado.to_excel('las_calculado.xlsx',index = True)